<p id="notice"><%= notice %></p>

<h1>Listing Project Roles</h1>

<table>
  <thead>
    <tr>
      <th>Rolename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_roles.each do |project_role| %>
      <tr>
        <td><%= project_role.rolename %></td>
        <td><%= link_to 'Show', project_role %></td>
        <td><%= link_to 'Edit', edit_project_role_path(project_role) %></td>
        <td><%= link_to 'Destroy', project_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project role', new_project_role_path %>
