<p id="notice"><%= notice %></p>

<h1>Listing Knowledge Areas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @knowledge_areas.each do |knowledge_area| %>
      <tr>
        <td><%= knowledge_area.name %></td>
        <td><%= link_to 'Show', knowledge_area %></td>
        <td><%= link_to 'Edit', edit_knowledge_area_path(knowledge_area) %></td>
        <td><%= link_to 'Destroy', knowledge_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Knowledge area', new_knowledge_area_path %>
